<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>envia los parametros del Request Http get - url</title>

</head>
<body>
<h1>envia los parametros del Request Http get - url</h1>
<ul>
    <li>
        <a th:href="@{/params/string(texto='Florencio')}">/params/string?texto=Hola Florencio</a>

    </li>
    <li>
        <a th:href="@{/params/string(texto='Que tal Florencio')}">/params/string?texto=Que tal Florencio</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params(saludo='Hola Jose Enmanuel',numero= 17)}">/mix-params/string?saludo=Hola Jose
            Enmanuel&numero=17</a>
    </li>
    <li>
        <a th:href="@{/params/mix-params-request(saludo='Hola Jose Enmanuel',numero= 18)}">/mix-params/string?saludo=Hola
            Jose Enmanuel&numero=17</a>
    </li>
</ul>
</body>
</html>