<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
    <li>
        <a th:href="@{/variables/string/} + 'Hola David'">/variables/string/Hola David</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + 'Hola Jose'">/variables/string/Hola David</a>
    </li>
    <li>
        <a th:href="@{/variables/string/} + ${'David'} + '/' + ${'7'}">/variables/string/Hola David</a>
    </li>
</ul>
</body>
</html>